html {
    background: #202225;
    color: #dcddde;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    background: #36393f;
    background-size: 100%;
    width: 900px;
    height: 380px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.left {
    position: relative;
    top: 0%;
    left: 0%;
}

.about {
    width: 600px;
    height: auto;
    text-align: justify;
}

.textarea {
    width: auto;
    height: 350px;
    background: rgba(114, 118, 125, .3);
    text-align: justify;
    font-size: 15px;
    margin: 15px 15px 15px 15px;
    padding: 15px;
    overflow: hidden;
}

.textarea-header {
    margin-top: -20px;
    width: 100%;
}

.textarea-headline {
    width: 70%;
}

.textarea-headline,
.textarea-button {
    display: inline-block;
    margin: 0 10px 0 10px;
    text-align: center;
}

.block {
    display: inline-block;
    margin: 5px auto;
    height: 80px;
    width: 166px;
}

.block>img {
    height: 60px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    width: 300px;
    height: 100%;
    background-color: #2f3136;
}

.about,
.contact {
    display: block;
    float: left;
}

.avatar-bg-image {
    position: absolute;
    background-image: url("https://decaded.everfree.pl/www/site/images/decaded-av.png");
    height: 256px;
    width: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.avatar {
    width: 180px;
    height: 180px;
    margin: 50px auto 0 auto;
}

.avatar img {
    width: 100%;
}

.name {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #7289da;
    width: 100%;
    margin-top: 25px;
    background: #282b30;
}

.media {
    margin-top: 35px;
    width: 100%;
    height: 35px;
    background: none;
    text-align: center;
}

.media a {
    color: #7289da;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    padding-top: 15px;
    cursor: pointer;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #282b30;
}

li a:hover {
    background-color: #7289da;
}

.active {
    background-color: #7289da;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.tooltip i {
    transition: color 0.8s ease-out;
}

.tooltip i:hover {
    color: #decd96;
    transition: color 0.3s ease-in;
}

.tooltip .tooltiptext {
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -65px;
    margin-bottom: 3px;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.discord-icon-fix {
    margin-top: 2px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    float: right;
}

.text-small {
    font-size: small;
}

.text-margin-right {
    margin-right: 15px;
}

.stick-to-bottom-right {
    bottom: 0;
    right: 0;
    position: fixed;
    color: #484c52;
}

.hidden {
    display: none;
}

.text-indent {
    text-indent: 1em;
}

h2,
h3,
h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 10px;
}

hr {
    background-image: linear-gradient(90deg, transparent, #202225, transparent);
    border: 0;
    height: 1px;
}

.progress {
    position: relative;
    height: 10px;
    margin: 5px auto 0 auto;
    background: #bdc3c7;
    width: 90%;
    border-radius: 25px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 2px;
}

.progress>span {
    display: block;
    height: 100%;
    background-color: rgb(114, 137, 218);
    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}